{% extends "../layout.njk" %}

{% block content %}

  <div class="forms_box">

    <form class="recipe_form" id="form-delete" method="POST" action="/admin/pagamento?_method=DELETE">
      <button class="delete" type="submit">Deletar</button>

      <input type="hidden" name="id" value="{{pedido.id}}">
    </form>

    <form class="recipe_form" method="POST" action="/admin/pagamento?_method=PUT" enctype="multipart/form-data">
      <div class="form_header">
        <h1>Editar Comprovante</h1>
        <button class="save" type="submit" onclick="Validate.allFields(event)">Salvar</button>
      </div>

      {% include "admin/pagamento/fields.njk" %}

      <input type="hidden" name="id" value="{{pedido.id}}">
    </form>
  </div>

{% endblock content %}