{% extends "../layout.njk" %}
{% block content %}
 <div class="page_title">
    <h1>Seja um Premium e cadastre qualquer receita em nosso site</h1>
    <a class="button" href="/admin/vips/create">Cadastrar</a>
  </div>

  <div class="about_box">
    <div>

       <h2 style="margin-top: 60px">Porquê ser um Chef Premium? </h2>
      <p>
      Você adquirindo nosso Premium, você terá acesso a vídeos exclusivos, Cadastrar sua própria receita além de cadastrar seu perfil como Chef em nosso site, aonde o usuário terá possibilidade de por um pouco
      sobre sua história, anos de experiência no mercado da culinária e suas redes sociais profissionais ou não. Além de ter destaque em nosso site com uma área apenas para Chefs Premium.
      </p>
      <h2 style="margin-top: 50px">Como realizar Pagamento</h2>
      <p>
        Primeiro você terá que ir na aba Seja Premium, la você vai fazer um cadastro com seu perfil de Chef Vip (Premium). Você informará seus dados e depois de tudo preenchido, você finalizará o cadastro.Feito isso 
        enviaremos um e-mail com nossos dados bancários pois nosso sistema ainda não está trabalhando com boletos. Depois de você ter feito a transferência assim que constar a transferência, iremos cruzar os dados do usuário
        com os dados da conta e iremos conceder acesso. 
       </p>
       <h2 style="margin-top: 50px">E-mail e Telefone para contato </h2>
       <p>
        E-mail: divinareceita@hotmail.com.
       </p>
        <p>
        Telefone: (21) 97013-4430 && (21) 2413-9463. 
       </p>
        <p>
        Horário de funcionamento: Segunda à Sábado de 09:00hrs às 18:00hrs.
       </p>
    </div>

{%endblock%}