{% extends "../layout.njk" %}

{% block content %}

  {% if session.admin %}

    <div class="page_title">
      <h1>Gerenciar Chefs Premium</h1>
      <a class="button" href="/admin/chefVips/create">Novo Chef</a>
    </div>

  {% endif %}

  <div class="chef_box adm">
    {% for vip in vips %}
      <div class="chef">
        <img src="{{vip.img}}" alt="Imagem de {{vip.apelido}}"/>
        <div>
          <h3>{{vip.apelido}}</h3>
          <a href="/admin/chefVips/{{vip.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}