{%extends "./layout.njk" %}
{%block content%}




  <div class="about_box" >
    <div>
      <h1>Sobre a Divina Receita</h1>
      <p>
        O Divina Receita é o mais novo site de comida do Brasil e o conteúdo gratuito tem como objetivar facilitar a
        vida de quem é amante da culinária e ajudar todos aqueles que estão precisando divulgar seu portfólio em
        nosso site.
      </p>
      <p> 
        Os editores do Divina Receita trabalham com chefs profissionais e cozinheiros domésticos para coletar,
        organizar e selecionar as melhores receitas do Brasil. A equipe também cultiva seus laços com uma
        comunidade mundial envolvida, fiel e crescente que ama e celebra a comida.
      </p>
      <p>
        Foi essa comunidade que, em parte, motivou a empresa a entrar no Pinterest em agosto de 2015. O Divina Receita queria inspirar seus leitores a entrar na cozinha e começar a cozinhar, fornecendo-lhes ainda mais receitas. O site também sabia que os usuários do Pinterest amam comida. É a maior categoria no Pinterest e não para de crescer. De acordo com o nosso relatório sobre comida, o número de usuários do Pinterest
        envolvidos com conteúdo relacionado a comida aumentou 24% entre 2015 e 2016.
        </p>
      <p>
        O Divina Receita também acha ótimo que o Pinterest seja tão visual, proporcionando uma ótima plataforma para mostrar receitas deliciosas por meio de belas fotos. Além disso, o Pinterest permite que o TudoGostoso alcance um público adicional: pessoas que não necessariamente cozinham todos os dias.
         Enquanto a maioria das pessoas vai para o TudoGostoso.com.br quando já sabe o que procura, as pessoas vão para Pinterest em busca de inspiração. Quando a encontrarem, o TudoGostoso quer que seus pratos brasileiros sejam os primeiros a serem lembrados.
        </p>
    </div>

    <div>
      <h2>Seja Premium</h2>
      <p>
    Você adquirindo nosso Premium, o usuário terá acesso a vídeos exclusivos, Cadastrar sua própria receita além de cadastrar seu perfil como Chef em nosso site, aonde o usuário terá possibilidade de por um pouco sobre sua história, anos de experiência no mercado da culinária e suas redes sociais profissionais ou não. Além de ter destaque em nosso site com uma área apenas para Chefs Premium.</p>

    <p>Caso usuário tenha dúvidas entrem em contato e-mail divinareceita@hotmail.com, Telefone(21)97013-4430.</p>
    </div>

    

{% endblock %}