{%extends "./layout.njk" %}
{% block content %}

  <section class="banner_box">
    <div class="banner">
      <div class="banner_info">
        <h1>As melhores receitas</h1>
        <p>
          Seja Premium em nosso site e divulgue você mesmo suas receitas e seu portfólio. 
        </p>
      </div>
      <div>
        <img src="/images/static/chef.png" alt="Chef"/>
      </div>
    </div>
  </section>

  <div class="page_title">
    <h1>Últimas Receitas</h1>
  </div>

  <section class="recipe_box">

    {% for recipe in recipes %}
      <div class="recipe">
        <a href="/recipes/{{recipe.id}}">
          <img src="{{recipe.img}}" alt="Imagem de {{recipe.title}}"/>
        </a>
        <h3>{{recipe.title}}</h3>
        <p>por
          {{recipe.chef_name}}  {{recipe.vip_apelido}}</p>
     
      </div>
    {% endfor %}

  </section>

{% endblock %}