   <body>
    <!-- Header -->

    <section class="header" style="text-align: center;margin: 0 auto; margin-top: 50px;">
      <div class="navbar" style="text-align: center;margin: 0 auto;">
      
        <div class="links" style="text-align: center; margin: 0 auto;">
          <a href="/admin/reports/receitas">Receitas</a>
          <a href="/admin/reports/contas">Cadastros</a>
          <a href="/admin/reports/pagamentos">Pagamentos</a>
   
        </div>
      </div>
  </section>
</body>
