{% extends "../layout.njk" %}

{% block content %}

 {% include "admin/reports/header.njk" %}
 

 
  <div class="about_box">
    <div>

    
      <p style="margin-top: 60px">
          Relatórios anuais do Divina Receita, gráficos 100% em tempo real mostrando o levamento de cadastros por mês, separamos em 3 tipos de relátorios. Um relatório simples e 100% atualizado, sem precisar ficar gerando relatório a cada mês.
      </p>
 
      <p>
        1- Relatório de Receitas: Relatório responsável por mostrar quantas receitas foram cadastradas.
       </p>
         <p>
        2- Relatório de Usuários: Relatório responsável por mostrar quantos usuários foram cadastrados e quantos usuários Premium foram efetuados.
       </p>
         <p>
        3- Relatório de entrada de Pagamento: Relatório responsável por mostrar quantos pagamentos foram feitos.
       </p>
       
    </div>
{% endblock %}