{% extends "../layout.njk" %}

{% block content %}
  
      
    <body style="margin-bottom: 20px;">
    <canvas style="height:500px; width:0px" class="line-chart"> </canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
     <script>
      var ctx = document.getElementsByClassName("line-chart");
      var myBarChart = new Chart(ctx, {
        type: 'bar', 
        data: {
          labels: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
          datasets: [{
            label: "Pagamentos Premium",
            data: {{ pagamentos }},
            borderWidth: 2,
            borderColor: 'rgba(77,166,253,0.85)',
            backgroundColor:'rgba(77,166,253,0.85)'
          }
          ]
        },
        options: {
        title: {
        display: true,
        fontSize: 25,
        text: "ENTRADAS DE PAGAMENTOS 2020"
        }
        }
      });
  
    </script>
      

  </body>

{% endblock %}